<section id="body_content" class="m-t-lg">
  <h3>Uh oh...</h3>
  <%= render partial: 'editing_collision' %>
  <div class="m-b-lg">
    <%= render partial: 'editing_collision_actions' %>
  </div>
</section>
