<section class="index resource-index">
  <section class="featured-post steel-blue-bg white">
    <div class="container">
      <div class="row p-b-xl">
        <div class="col-xs-12 p-y-lg">
          <h2 class="m-b-0">Featured Resources</h2>
        </div>
        <div class="col-xs-12 col-md-8 flex">
          <a class="featured-resource cover-bg bg-fade-text" style="background-image: url(/assets/cover.jpg);" href="">
            <h2 class="m-b-md">How to lead a Bible study</h2>
            <p class="text-uppercase m-t-sm m-b-0">Leadership</p>
          </a>
        </div>
        <div class="col-xs-12 col-md-4 flex flex-column">
          <a class="featured-resource m-b cover-bg bg-fade-text flex-1" style="background-image: url(/assets/cover.jpg);" href="">
            <h4 class="m-b-xs m-t-md ellipsis">How to lead a Bible study</h4>
            <p class="text-uppercase m-b-0">Leadership</p>
          </a>
          <a class="featured-resource m-t cover-bg bg-fade-text flex-1" style="background-image: url(/assets/cover.jpg);" href="">
            <h4 class="m-b-xs m-t-md ellipsis">How to lead a study</h4>
            <p class="text-uppercase m-b-0">Leadership</p>
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="steel-blue-1-bg categories flex align-items-center">
    <div class="slidebox">
      <ul class="slidebox-list">
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            All
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md active" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
        <li class="card">
          <a href="" class="category flex justify-center align-items-center cover-bg text-center bg-fade-text top-round p-a-md" style="background-image: url(/assets/cover.jpg);">
            Leadership
          </a>
        </li>
      </ul>
      <!-- <div class="text-center slidebox-nav">
        <button class="circle-icon circle-icon-md slidebox-left"><i class="icon icon-angle-left-sm"></i></button>
        <button class="circle-icon circle-icon-md slidebox-right"><i class="icon icon-angle-right-sm"></i></button>
      </div> -->
    </div>
    <div class="slidebox-controls shrink-0 m-r-md">
      <a class="btn btn-white-outline btn-circle m-r-sm" href=""><i class="icon icon-arrow-left icon-lg m-r-0"></i></a>
      <a class="btn btn-white-outline btn-circle m-r-sm" href=""><i class="icon icon-arrow-right icon-lg m-r-0"></i></a>
      <a class="btn btn-white-outline btn-round" href="">All Categories</a>
    </div>
  </section>

  <section class="container index-feed p-y-lg" data-layout="list-view" data-sort="recent">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2 m-b-lg">
        <div class="btn-group m-b-md text-center flex justify-center" role="group" aria-label="Basic example">
          <button type="button" class="btn btn-secondary-outline icon-last">All <i class="icon icon-grid"></i></button>
          <button type="button" class="btn btn-secondary-outline icon-last">Studies <i class="icon icon-book"></i></button>
          <button type="button" class="btn btn-secondary-outline icon-last">Articles <i class="icon icon-file-text"></i></button>
          <button type="button" class="btn btn-secondary-outline icon-last">Stories <i class="icon icon-user"></i></button>
          <button type="button" class="btn btn-secondary-outline icon-last">Video <i class="icon icon-play-circle"></i></button>
          <button type="button" class="btn btn-secondary-outline icon-last">Audio <i class="icon icon-mic"></i></button>
        </div>
        <div class="row m-b-md filtering-options">
          <div class="col-xs-12 col-md-8 col-md-offset-2 search-bar">
            <input type="text" class="form-control" placeholder="Search">
            <button class="btn btn-link" type="button"><i class="icon icon-search m-r-0"></i></button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <%= render 'index_feed' %>

  <section class="subscription">
  </section>
  <section class="popular p-t-lg">
  </section>
</section>